extends layout

block content
  h1.main-title= title
  p.tag-line The right book can change your life. We can help you find it.
  .ui.buttons
      a.ui.teal.button(href="/facebook") Sign in with Facebook
