extends userlayout

block content
    h1 Welcome to BookBox, #{user.firstName}
    .rec-container
        each book in user.recs
            .rec
                h2.title #{book.Title}
                if book.picture
                    img(src="#{book.picture}").cover-img
                else
                    img(src="/images/notfound.jpg").cover-img
                p.author By #{book.Author}
block pagescripts
    script(src="/scripts/userpage.js")