body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #eee;
}
a {
  color: #00b7ff;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.landing-img {
  background-image: url("/images/tatteredbooks.jpg");
  background-repeat: no-repeat;
}
.main-img {
  max-width: 1200px;
}
.main-title {
  font-size: 80px;
}
.tag-line {
  font-size: 60px;
  width: 70%;
}
.ui.checkbox {
  display: block;
}
.rec {
  display: none;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 50px;
}
.cover-img {
  height: 200px;
}
.passage-div {
  display: none;
  font-size: 18px;
  position: relative;
}
.form-page {
  position: relative;
}
.form-buttons {
  width: inherit;
  text-align: center;
  margin: auto;
}
.form-buttons .ui.button {
  width: 150px;
  font-size: 12px;
  margin: 0 20px;
}
.form-buttons .ui.slider {
  display: inline-block;
}
.field {
  min-height: 30px;
}
.field .button.next,
.field .button.next-passage,
.field .button.positive,
.field .button.orange {
  position: absolute;
  right: 10px;
  top: 10px;
}
.field .button.prev,
.field .button.prev-passage {
  position: absolute;
  left: 10px;
  top: 10px;
}
.field.buttons {
  min-height: 30px;
}
.pre {
  display: inline;
}
