body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #eee;
  min-height: 900px;
}
a {
  color: #00b7ff;
}
.container {
  max-width: 1200px;
  position: relative;
}
.landing {
  position: fixed;
  top: 40px;
  left: 200px;
}
.landing-img {
  background-image: url("/images/tatteredbooks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-img {
  max-width: 1200px;
}
.main-title {
  font-size: 80px;
}
.tag-line {
  font-size: 60px;
  width: 50%;
}
.ui.checkbox {
  display: block;
}
.modal p {
  color: #f00;
  margin-left: 20px;
}
.passage {
  display: inline-block;
  width: 45%;
  margin-right: 2.5%;
  margin-bottom: 20px;
  vertical-align: top;
}
.passage p {
  margin-top: 0;
  padding: 20px;
}
.menu .twelve.wide {
  margin: 0;
}
.rec {
  display: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  max-width: 19.5%;
  text-align: center;
  position: relative;
}
.user-title {
  margin-top: 0;
}
.dialog {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}
#sideMenu {
  margin: 0;
  display: inline-block;
}
#menuCol {
  text-align: right;
}
.dialog-div {
  z-index: 999;
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.rec-hover {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.rec-hover a.button.positive,
.rec-hover a.button.negative {
  opacity: 1;
  margin-top: 50%;
}
.rec-hover a.button.positive i,
.rec-hover a.button.negative i {
  margin: 0;
}
.rec-hover a.button.positive {
  margin-right: 10px;
}
.title {
  font-size: 16px;
}
.img-div {
  width: 180px;
  display: inline-block;
}
.cover-img {
  max-height: 200px;
  display: inline-block;
  box-shadow: 3px 3px 1px #666;
}
.book-info {
  display: inline-block;
  padding-left: 20px;
}
.passage-div {
  display: none;
  font-size: 18px;
  position: relative;
}
.form-page {
  position: relative;
}
.form-buttons {
  width: auto;
  text-align: center;
  margin: auto;
}
.form-buttons .ui.button {
  width: 150px;
  font-size: 12px;
  margin: 0 20px;
}
.form-buttons .ui.slider {
  display: inline-block;
}
.field {
  min-height: 30px;
}
.field .button.next,
.field .button.next-passage,
.field .button.positive,
.field .button.orange {
  position: absolute;
  right: 10px;
  top: 10px;
}
.field .button.prev,
.field .button.prev-passage {
  position: absolute;
  left: 10px;
  top: 10px;
}
.field.buttons {
  min-height: 30px;
}
.pre {
  display: inline;
  color: #888;
  margin-right: 20px;
}
.pre:hover {
  color: #444;
  cursor: pointer;
}
