body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin: 0
  background-color: #EEE
  min-height: 900px
a
  color: #00B7FF
.container
  max-width: 1200px
  position: relative
  margin: auto
.landing
  position: fixed
  top: 40px
  left: 200px
.landing-img
  background-image: url('/images/tatteredbooks.jpg')
  background-repeat: no-repeat
  background-size: cover
.main-img
  max-width: 1200px
.main-title
  font-size: 80px
.tag-line
  font-size: 60px
  width: 80%
  max-width: 800px
.ui.checkbox
  display: block
.button.amazon
  margin: 10px 5px
  background-color: #FD9530
  color: white
.modal
  p
    color: red
    margin-left: 20px
.passage
  display: inline-block
  width: 45%
  margin-right: 2.5%
  margin-bottom: 20px
  vertical-align: top
  p
    margin-top: 0
    padding: 20px
.menu
  .twelve.wide
    margin: 0
.rec
  display: none
  border-radius: 5px
  padding: 10px 20px
  margin: 10px 0
  min-width: 15%
  max-width: 19.5%
  min-height: 200px
  text-align: center
  position: relative
.user-title
  margin-top: 0
.right.menu
  display: inline-block
.dialog
  position: absolute
  background-color: white
  border-radius: 5px
  text-align: center
  padding: 20px
  a.ui.button, button.ui.button
    display: block
    margin: auto
#sideMenu
  margin: 0
  display: inline-block
#menuCol
  text-align: right
.dialog-div
  z-index: 999
  display: none
  height: 100%
  width: 100%
  position: fixed
  top: 0
  left: 0
  background-color: rgba(0,0,0,0.5)
.rec-hover, .removed
  width: 100%
  height: 100%
  border-radius: 5px
  background-color: rgba(0,0,0,0.5)
  display: none
  position: absolute
  top: 0
  left: 0
  text-align: center
  a.button.positive, a.button.negative
    opacity: 1
    margin-top: 50%
    i
      margin: 0
  a.button.positive
    margin-right: 10px
  p
    padding: 15px
    color: white
.title
  font-size: 16px
.img-div
  width: 180px
  display: inline-block
.cover-img
  max-height: 200px
  display: inline-block
  box-shadow: 3px 3px 1px #666
.book-info
  display: inline-block
  padding-left: 20px
.passage-div
  display: none
  font-size: 18px
  position: relative
form
  p.disliked, p.no-opinion, p.liked
    border-radius: 5px
    margin-bottom: 5px !important
p.disliked
  background-color: rgba(200,0,0,0.5)
p.no-opinion
  background-color: rgba(200,200,200,0.5)
p.liked
  background-color: rgba(0,200,0,0.5)
.form-container
  display: inline
.form-page
  position: relative
.form-buttons
  margin: auto
  position: relative
  width: 100%
  display: block
  min-height: 40px
  text-align: center
  .ui.button
    width: 150px
    font-size: 12px
    margin: 0 20px
    position: absolute
  .ui.button.next, .ui.button.next-passage, .button.orange
    bottom: 10px
    right: 10px
  .ui.button.prev, .ui.button.prev-passage
    bottom: 10px
    left: 10px
  .button.huge
    font-size: 1.375rem
  .ui.slider
    display: inline-block
.field
  min-height: 30px
  .button.next, .button.next-passage, .button.positive, .button.orange
    position: absolute
    right: 10px
    top: 10px
  .button.prev, .button.prev-passage
    position: absolute
    left: 10px
    top: 10px
.field.buttons
  min-height: 30px
.pre
  display: inline
  color: #888
  margin-right: 20px
.pre:hover
  color: #444
  cursor: pointer
.error
  color: red
  border: 2px solid red
  border-radius: 5px
.passage-buttons
  text-align: center
  margin-bottom: 5px
.profile-title
  margin-top: 0