body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin: 0
  background-color: #EEE
  min-height: 900px
a
  color: #00B7FF
.container
  max-width: 1200px
  margin: auto
.landing-img
  background-image: url('/images/tatteredbooks.jpg')
  background-repeat: no-repeat
  background-size: cover
.main-img
  max-width: 1200px
.main-title
  font-size: 80px
.tag-line
  font-size: 60px
  width: 50%
.ui.checkbox
  display: block
.modal
  p
    color: red
    margin-left: 20px
.rec
  display: none
  background-color: white
  border-radius: 5px
  padding: 10px 20px
  margin: 10px
  max-width: 20%
  text-align: center
  position: relative
.rec-hover
  width: 100%
  height: 100%
  border-radius: 5px
  background-color: rgba(0,0,0,0.5)
  display: none
  position: absolute
  top: 0
  left: 0
  text-align: center
  a.button.positive, a.button.negative
    opacity: 1
    margin-top: 50%
    i
      margin: 0
  a.button.positive
    margin-right: 10px
.title
  font-size: 16px
.img-div
  width: 180px
  display: inline-block
.cover-img
  max-height: 200px
  display: inline-block
.book-info
  display: inline-block
  padding-left: 20px
.passage-div
  display: none
  font-size: 18px
  position: relative
.form-page
  position: relative
.form-buttons
  width: inherit
  text-align: center
  margin: auto
  .ui.button
    width: 150px
    font-size: 12px
    margin: 0 20px
  .ui.slider
    display: inline-block
.field
  min-height: 30px
  .button.next, .button.next-passage, .button.positive, .button.orange
    position: absolute
    right: 10px
    top: 10px
  .button.prev, .button.prev-passage
    position: absolute
    left: 10px
    top: 10px
.field.buttons
  min-height: 30px
.pre
  display: inline
  color: #888
  margin-right: 20px
.pre:hover
  color: #444
  cursor: pointer